body {
font-family: Arial, sans-serif; 
color: #66B2FF
background-color:#f9f9f9 ; 
margin: 0;
padding: 0;
line-height: 1.6;
}

header { 
background-color: #66B2FF; 
color: white; 
padding: 20px;
text-align: center;
}
 
 
h1{
margin: 0;
}

nav a {
color: white;
text-decoration: none;
margin: 0 10px;
}
 
 
nav a:hover {
text-decoration: underline;
}

main {
padding: 20px;
max-width: 800px;
margin: 0 auto;
}
 
p {
font-size: 1.1em; 
}
  
a {
color: #66B2FF;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

main a[href^="mailto:"] {
color: white;
font-weight: bold 
}
